#!/bin/bash
# Wrapper script for gVisor (runsc) with Podman conmon rootless execution
exec {{ podman_gvisor_binary }} --ignore-cgroups {% if podman_gvisor_hostinet | default(false) %}--network=host {% endif %}"$@"
