# Pointing at the broker in the trust zone: an address, not a credential.
apiVersion: v1
kind: Config
clusters:
  - name: broker
    cluster:
      server: http://127.0.0.1:{{ k8s_broker_port }}
contexts:
  - name: broker
    context:
      cluster: broker
      user: broker
current-context: broker
users:
  - name: broker
    user:
      token: ignore
